 body {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   background-color: black;
 }

 .top-bar {
   background-color: orange;
   color: black;
   width: 1140px;
   height: 70px;
   display: flex;
   align-items: center;
   list-style: none;
   position: fixed;
 }

 .about {
   color: white;
   text-decoration: none;

 }

 .home {
   color: white;
   text-decoration: none;
 }

 .contact {
   color: white;
   text-decoration: none;

 }

 .feedback {
   color: white;
   text-decoration: none;
 }

 .search {
   margin-left: 100px;
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .search-button {
   align-items: center;

 }

 .portfolio {
   margin-left: 30px;
 }

 .profile {
   height: 50px;
   width: 50px;
   border-radius: 50px;
   margin-left: 30px;


 }

 .image {
   height: 800px;
   width: 1130px;
   margin-top: 70px;
 }

 .intro {
   margin-top: -790px;
   color: white;
   margin-left: 430px;
 }

 .job {
   color: white;
   margin-left: 450px;
 }

 .home-button {
   background-color: black;
   color: white;
   margin-left: 60px;
   list-style: none;
   height: 35px;
   width: 80px;
   border-radius: 20px;

 }

 .about-button {
   background-color: black;
   margin-left: 60px;
   height: 35px;
   width: 80px;
   border-radius: 20px;
 }

 .contact-button {
   background-color: black;
   margin-left: 60px;
   height: 35px;
   width: 80px;
   border-radius: 20px;
 }

 .feedback-button {
   background-color: black;
   height: 35px;
   width: 80px;
   margin-left: 60px;
   border-radius: 20px;
 }

 .about-pic {
   width: 250px;
   height: 250px;
   margin-left: 400px;
   margin-top: 113px;
   border-radius: 200px;
 }

 .name {
   color: white;
   margin-top: 70px;
   padding-left: 20px;
   text-decoration-line: underline;

 }

 .pragh {
   color: white;
   padding-left: 20px;
   padding-right: 20px;
 }

 .skills {
   color: white;
   padding-top: 40px;
   padding-left: 20px;
 }

 .web {
   color: white;
   margin-top: 30px;
   margin-left: 20px;
 }

 .nav {
   background-color: white;
   height: 28px;
   width: 1070px;
   margin-left: 20px;
   margin-right: 40px;
   color: gray;
   box-sizing: inherit;
   display: flex;
 }

 .nav-second {
   background-color: gray;
   height: 28px;
   width: 970px;
 }

 .bar {
   background-color: white;
   height: 28px;
   width: 1070px;
   margin-left: 20px;
   margin-right: 40px;
   color: gray;
   box-sizing: inherit;
   display: flex
 }

 .nav-bar {
   background-color: gray;
   height: 28px;
   width: 870px;

 }

 .software {
   color: white;
   margin-left: 20px;
   margin-top: 30px;
 }

 .bar-software {
   background-color: white;
   height: 28px;
   width: 1070px;
   margin-left: 20px;
   margin-right: 40px;
   color: gray;
   box-sizing: inherit;
   display: flex
 }

 .nav-software {
   background-color: gray;
   height: 28px;
   width: 100px;

 }

 .detail {
   background-color: white;
   display: flex;
   color: black;
   list-style: none;
   height: 150px;
   width: 1070px;
   align-items: center;
   justify-content: space-around;
   margin-top: 60px;
   margin-left: 20px;
   margin-right: px;
 }


 .partners {
   height: 150px;
   width: 100px;
   text-align: center;
   margin-top: 100px;
 }

 .project {
   height: 150px;
   width: 119px;
   text-align: center;
   margin-top: 100px;
 }

 .happy {
   height: 150px;
   width: 120px;
   text-align: center;
   margin-top: 50px;

 }

 .downlaod-button {
   background-color: white;
   color: black;
   border-radius: 10px;
   margin-top: 40px;
   margin-left: 20px;
   cursor: pointer;
 }

 .price {
   color: white;
   margin-left: 20px;
   margin-top: 60px;
 }

 .work {
   background-color: white;
   color: black;
   height: 340px;
   width: 500px;
   margin-left: 20px;
   display: flex;
 }

 .work:hover {
   opacity: 1;
   background-color: rgb(216, 207, 207);
 }

 .table,
 th,
 td {
   border: 2px solid;
   border-color: rgb(223, 213, 213);
   width: 500px;
   height: 50px;
   justify-content: center;
 }

 .basic {
   background-color: gray;
   border: none;
 }



 .web-de {
   text-align: center;
   cursor: pointer;
 }

 .web-dev {
   text-align: center;
   border: none;
   cursor: pointer;
 }

 .pro {
   background-color: rgb(189, 181, 181);
   color: black;
   height: 340px;
   width: 500px;
   margin-left: 580px;
   display: flex;
   margin-top: -342px;
   margin-bottom: 100px;

 }

 .pro:hover {
   opacity: 2;
   background-color: white
 }

 .place {
   color: white;
   margin-left: 10px;
   margin-top: 30px;
 }


 .contact-me {
   color: white;
   margin-left: 10px;
   text-decoration-line: underline;
   margin-top: 0px;
   padding-top: 110px;
 }

 .location {
   background-color: black;
   height: 50px;
   width: 50px;
 }

 .ktm {
   margin-left: 80px;
   margin-top: -42px;
 }

 .call {
   height: 40px;
   width: 40px;
   display: flex;
   margin-left: 20px;
   margin-top: 45px
 }

 .number {
   color: white;
   margin-left: 90px;
   margin-top: -40px;

 }

 .let {
   color: grey;
   margin-top: 100px;
   margin-left: 10px;
 }

 .suggestion {
   height: 60px;
   width: 1070px;
   margin-top: 30px;
   margin-left: 10px;
 }

 .send {
   height: 50px;
   margin-left: 10px;
   margin-bottom: 100px;
   width: 150px;
   background-color: white;
   border-radius: 10px;
   margin-top: 10px;
   cursor: pointer;
 }

 .send:hover {
   opacity: 0.5;

 }

 .feedback-any {
   color: white;
   margin-left: 10px;
   text-decoration-line: underline;
   margin-top: 50px;

 }

 .box {
   margin-left: 10px;
   height: 300px;
   width: 1080px;
 }

 .submit {
   height: 30px;
   width: 100px;
   margin-left: 10px;
   margin-top: 10px;
   border-radius: 10px;
   cursor: pointer;
 }

 .submit:hover {
   opacity: 0.5px;
 }

 .top-bar-feed {
   background-color: orange;
   color: black;
   width: 1140px;
   height: 70px;
   display: flex;
   align-items: center;
   list-style: none;

 }